<h1>Movies</h1>
  <div class="container">
      <ul class='row'>
        <% @movies.each do |movie| %>
          <li class='col-4 d-flex flex-column'><%= link_to movie.title, movie_path(movie) %>
          <img src=<%= movie.poster_url %> width="200">
          <p><%= movie.overview %></p>
          <p>Rating: <%= movie.rating %></p>
          </li>
        <% end %>
      </ul>
  </div>
